.heart {
    width: 200px; 
    height: 200px; 
    background-color: red; 
    transform: rotate(45deg);
    position: relative; 
	margin: 100px;
}

.heart::before,
.heart::after {
    content : ''; 
    display: block;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%; 
    position: absolute;
}

.heart::before {
    top: -100px;
    left: 0;
}

